.app-login, .app-login-dark{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  .app-login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    .yui-input{
      width: 240px;
      .iconfont{
        cursor: pointer;
      }
    }
  }
}