{
  "plugins": [
    [
      "import",
      {
        "libraryDirectory": "es",
        "style": "less"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}