.app-explorer, .app-explorer-dark{
  height:100%;
  width:100%;
  min-width: 200px;
  overflow: hidden;
  input{
    background: #444;
  }
  .app-explorer-header{
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10px;
    .app-explorer-header-left{
      text-transform: uppercase;
      width:200px;
      overflow: hidden;
      font-size:12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color:#fff;
    }
    .app-explorer-header-right{
      height: 40px;
      display:flex;
      align-items: center;
      .iconfont{
        font-size:18px;
        cursor: pointer;
        margin-left:16px;
        color:#fff;
      }
      .icon-zhankai{
        font-size:16px;
      }
      .iconfont:active{
        transform: scale(1.1)
      }
    }
  }
  .app-explorer-body{
    overflow: auto;
    height:calc(~'100% - 40px');
  }
  .yui-tree-node{
    color: #ccc;
  }
  .yui-tree-node:hover{
    background-color: #333;
  }
  .yui-tree-leaf-active{
    background-color: #333;
  }
  .app-explorer-menu{
    width: 160px;
    .app-explorer-menu-item:hover{
      background: #333;
    }
    .app-explorer-menu-item{
      display: flex;
      width: 100%;
      padding: 0 8px;
      height: 30px;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.app-explorer{
  .yui-tree-node{
    color: #333;
  }
  .yui-tree-node:hover{
    background-color: #eee;
  }
  .yui-tree-leaf-active{
    background-color: #eee;
  }
  .app-explorer-header-left{
    color:#1e1e1e !important;
  }
  .app-explorer-menu-item:hover{
    background: #eee !important;
  }
  .app-explorer-header-right{
    .iconfont{
      color:#1e1e1e !important;
    }
  }
  input{
    background: #fafafa !important;
  }
}
.explorer-model-delete{
  font-size:12px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  .iconfont{
    color:#dfa529;
    margin-right:10px;
  }
}