.app-explorer, .app-explorer-dark{
  height:100%;
  width:100%;
  overflow: auto;
  .yui-tree-node{
    color: #ccc;
  }
  .yui-tree-leaf-active{
    background-color: #333;
  }
}
.app-explorer{
  .yui-tree-leaf-active{
    background-color: #aaa;
  }
}