.app-code, .app-code-dark{
  height:100%;
  width:100%;
  .app-code-none{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    .iconfont{
      font-size:200px;
      color:#111;
    }
  }
  .app-tabs-menu{
    width: 80px;
    .app-tabs-menu-item:hover{
      background: #333;
    }
    .app-tabs-menu-item{
      display: flex;
      width: 100%;
      padding: 0 8px;
      height: 30px;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.app-code{
  .app-tabs-menu{
    .app-tabs-menu-item:hover{
      background: #aaa;
    }
  }
}