.yui-tabs, .yui-tabs-dark{
  user-select: none;
  position: relative;
  width:100%;
  height:100%;
  overflow-x: auto;
  overflow-y: hidden;
  .yui-tabs-header{
    height:36px;
    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    background: #232323;
    .yui-tabs-header-item,.yui-tabs-header-item-active{
      height:100%;
      color:#888;
      cursor: pointer;
      background:#232323;
      font-size:12px;
      padding: 0 20px;
      display:flex;
      align-items: center;
      white-space: nowrap;
      .icon-guanbi{
        color:#fff;
        font-size:13px;
        font-weight: 700;
        &:hover{
          visibility:hidden;
        }
        &:active{
          transform: scale(1.1);
        }
      }
    }
    .yui-tabs-header-item-active{
      background: #1e1e1e;
      color:#fff;
    }
  }
  .yui-tabs-content{
    width:100%;
    height:calc(~'100% - 36px');
    color:#fff;
    font-size:12px;
    .yui-tabs-content-item{
      display:none;
    }
    .yui-tabs-content-item-active{
      display:block;
    }
  }
}
.yui-tabs{
  background: #f7f7f7;
  .yui-tabs-header{
    background: #f7f7f7;
    color: #555;
    .yui-tabs-header-item,.yui-tabs-header-item-active{
      color:#888;
      background:#eee;
      .icon-guanbi{
        color:#888;
        &:hover{
          visibility:hidden;
        }
      }
    }
    .yui-tabs-header-item-active{
      background: #f8f8f8;
    }
  }
  .yui-tabs-content{
    width:100%;
    height:calc(~'100% - 36px');
    color:#333;
    .yui-tabs-content-item{
      display:none;
    }
    .yui-tabs-content-item-active{
      display:block;
    }
  }
}
