.app-search, .app-search-dark{
  width:100%;
  height:100%;
  .app-search-header{
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10px;
    .app-search-header-left{
      text-transform: uppercase;
      width:200px;
      overflow: hidden;
      font-size:12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color:#bbb;
    }
    .app-search-header-right{
      height: 40px;
      display:flex;
      align-items: center;
      .codicon{
        font-size:16px;
        cursor: pointer;
        margin-left:16px;
        color:#fff;
      }
      .codicon:active{
        transform: scale(1.1)
      }
    }
  }
  .app-search-input{
    width:100%;
    height:40px;
    padding: 0 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    input{
      width:100%;
      background: #333;
      border: 1px solid transparent;
      outline: none;
      height:25px;
      padding: 0 6px;
      color:#fff;
      transition: .5s;
      &:focus{
        transition: .5s;
        border: 1px solid var(--theme-color);
      }
    }
  }
  .app-search-result-info{
    padding:0px 10px;
    height:30px;
    display:flex;
    align-items:center;
    font-size:12px;
    color:#fff;
  }
  .app-search-box{
    overflow: auto;
    width:100%;
    height: calc(~'100% - 100px');
    .yui-tree-node{
      color: #ccc;
    }
    .yui-tree-node:hover{
      background-color: #333;
    }
    .yui-tree-leaf-active{
      background-color: #333;
    }
  }
  .search-keyword-lighthigh{
    background: var(--theme-color);
    color:#fff;
  }
}
.app-search{
  .app-search-box{
    .yui-tree-node{
      color: #333;
    }
    .yui-tree-node:hover{
      background-color: #eee;
    }
    .yui-tree-leaf-active{
      background-color: #eee;
    }
  }
  .app-search-header-left{
    color:#1e1e1e !important;
  }
  .app-search-result-info{
    color:#333 !important;
  }
  .app-search-header-right{
    .codicon{
      color:#1e1e1e !important;
    }
  }
  .app-search-input{
    input{
      background-color: #f2f2f2 !important;
      color:#1e1e1e !important;
    }
  }
}