.app-activity-bar, .app-activity-bar-dark{
  height:100%;
  width:50px;
  background-color: #2a2a2a;
  .app-activity-bar-item,.app-activity-bar-item-active{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px 0;
    cursor: pointer;
    position: relative;
    .iconfont{
      font-size:20px;
      color:#999;
    }
  }
  .app-activity-bar-item-active{
    .iconfont{
      color:#fff;
    }
  }
}
.app-activity-bar{
  background-color: #fff;
  .app-activity-bar-item-active{
    .iconfont{
      color:#1e1e1e;
    }
  }
  .iconfont{
    color:#333;
  }
}