.app-layout, .app-layout-dark{
  height:100%;
  width:100%;
  .app-layout-body{
    height:calc(~'100% - 22px');
    width:100%;
    display: flex;
    .SplitPane{
      position: relative !important;
    }
  }
  .app-layout-footer{
    height:22px;
    width:100%;
    background-color: var(--theme-color);
    color:#fff;
    font-size: 12px;
    padding:0 10px;
    display: flex;
    align-items: center;
  }
  .workbench-open-project{
    position: absolute;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b2a2ab8;
    .workbench-open-project-box{
      display: flex;
      width:400px;
      height: 32px;
      justify-content: space-between;
      .yui-input{
        width: 78%;
      }
      .yui-btn{
        width: 20%;
        border-radius: 0;
      }
    }
  }
}
