.app-layout, .app-layout-dark{
  height:100vh;
  width:100vw;
  .app-layout-body{
    height:calc(~'100% - 22px');
    width:100%;
    display: flex;
    .SplitPane{
      position: relative !important;
    }
  }
  .app-layout-footer{
    height:22px;
    width:100%;
    background-color: var(--theme-color);
    color:#fff;
    font-size: 12px;
    padding:0 10px;
    display: flex;
    align-items: center;
  }
}
